.cardScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3CBC8D;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    border: 2px solid #000;
}

.cardScore img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}