@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');

.App {
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.toggleButton{
  margin-top: 20px;
  width: 90px;
  height: 20px;
  border-radius: 35px;
}

.deconecteSession{
  background: red;
  color: #fff;
  margin: 0 25px;
}

.App h1{
  color: #3CBC8D;
}